<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.nicke5012.showapps</string>
	<key>connections</key>
	<dict>
		<key>30D38A8A-96AE-486B-827A-AE75CF8DC140</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>654EF726-15AC-45D8-AECA-58BEE1F30A70</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Nick Eng</string>
	<key>description</key>
	<string>Show open applications</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Show Apps</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>showapps</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>osascript get_apps.scpt | python script_filter.py</string>
				<key>title</key>
				<string>Show open apps</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>30D38A8A-96AE-486B-827A-AE75CF8DC140</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript open_app.scpt "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>654EF726-15AC-45D8-AECA-58BEE1F30A70</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>30D38A8A-96AE-486B-827A-AE75CF8DC140</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>654EF726-15AC-45D8-AECA-58BEE1F30A70</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://nickeng.me</string>
</dict>
</plist>
